@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

:root { 
    --main-color : #01A0DC;
    --main-text-color : #575C62;
    --header-hight: 100px;
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

ul { 
    list-style-type: none;
}

@font-face {
  font-family: 'HalisGR';
  src: 
  url(../Halis-Font/Ahmet\ Altun\ -\ HalisGR-Regular.otf), 
  url(../Halis-Font/Ahmet\ Altun\ -\ HalisGR-Medium.otf),
  url(../Halis-Font/Ahmet\ Altun\ -\ HalisGR-Book.otf);
}

body { 
    font-family: 'HalisGR';
    color: var(--main-text-color);
    background: #fff;
    
}